
#container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    display: grid;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

#buttons {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    margin: 0 auto;
    text-align: center;
}